<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SLRRY_10">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SLRRY_10">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartScreenActivity"
            android:exported="false"
            android:label="Start"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Dashboard"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".MapsHubActivity"
            android:exported="false"
            android:label="Maps"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".FriendsLeaderboardActivity"
            android:exported="false"
            android:label="Leaderboard"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".RecentActivity"
            android:exported="false"
            android:label="Recent"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false"
            android:label="Sign Up"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".EnterNameActivity"
            android:exported="false"
            android:label="Name"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".GenderActivity"
            android:exported="false"
            android:label="Gender"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".HeightActivity"
            android:exported="false"
            android:label="Height"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".ExperienceActivity"
            android:exported="false"
            android:label="Experience"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".DistanceGoalActivity"
            android:exported="false"
            android:label="Distance Goal"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".RunningGoalActivity"
            android:exported="false"
            android:label="Running Goal"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".SpecificEventActivity"
            android:exported="false"
            android:label="Specific Event"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".CompletionActivity"
            android:exported="false"
            android:label="Success"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:label="User"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".StartRunActivity"
            android:exported="false"
            android:label="Start Run"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".ReadyToStartActivity"
            android:exported="false"
            android:label="Ready to Start"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".RunningActivity"
            android:exported="false"
            android:label="Running"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".PausedOverlayActivity"
            android:exported="false"
            android:label="Paused"
            android:theme="@style/Theme.SLRRY_10" />
        <activity
            android:name=".PausedMapActivity"
            android:exported="false"
            android:label="Paused Map"
            android:theme="@style/Theme.SLRRY_10" />
    </application>

</manifest>